@import "var";

.box{
  width: $b-width;
  height: $b-width;
  background:$color;
  p{
    width: $p-width;
    height: $p-width;
    background: #e9eaed;
    font-size: 18px;
    p > section {
      border: 1px solid #ccc
    }
  }
  a{
    text-decoration: none;
    color: #333333;
    &:hover{color:#00c1de}
  }
}

